astroid==2.3.1
atomicwrites @ file:///home/conda/feedstock_root/build_artifacts/atomicwrites_1588182545583/work
attrs==19.3.0
backcall==0.1.0
bleach==3.1.5
certifi==2022.12.7
colorama==0.4.1
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
flake8 @ file:///home/conda/feedstock_root/build_artifacts/flake8_1589343427411/work
flake8-polyfill==1.0.2
flake8-quotes @ file:///home/conda/feedstock_root/build_artifacts/flake8-quotes_1589330264223/work
importlib-metadata==1.6.0
imutils==0.5.3
ipykernel==5.2.1
ipython==7.14.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
jedi==0.17.0
Jinja2==2.11.2
joblib==0.14.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
kiwisolver==1.2.0
lazy-object-proxy==1.4.2
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
mistune==0.8.4
more-itertools==8.2.0
nbconvert==5.6.1
nbformat==5.0.6
notebook==6.0.3
numpy @ file:///D:/bld/numpy_1588605212216/work
olefile==0.46
opencv-contrib-python==4.2.0.34
packaging==20.3
pandocfilters==1.4.2
parso==0.7.0
pep8-naming==0.10.0
pickleshare==0.7.5
Pillow==7.1.2
pluggy @ file:///D:/bld/pluggy_1588616678842/work
prometheus-client==0.7.1
prompt-toolkit==3.0.5
py==1.8.1
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1589305246696/work
pyflakes==2.2.0
Pygments==2.6.1
pylint==2.4.2
pyparsing==2.4.7
pyrsistent==0.16.0
pytesseract==0.3.4
pytest==5.4.2
python-dateutil==2.8.1
pywin32==227
pywinpty==0.5.7
pyzmq==19.0.0
qtconsole==4.7.3
QtPy==1.9.0
scikit-learn==0.22.2.post1
scipy==1.4.1
Send2Trash==1.5.0
six==1.14.0
terminado==0.8.3
testpath==0.4.4
tornado==6.0.4
traitlets==4.3.3
typed-ast==1.4.0
wcwidth==0.1.9
webencodings==0.5.1
widgetsnbextension==3.5.1
wincertstore==0.2
wrapt==1.11.2
zipp==3.1.0
